body{
    padding: 10px;
    margin: 0;
    background:rgb(255, 255, 228);
    font-family: Arial, Helvetica, sans-serif;
    min-width:400px;
}

button:hover{
    cursor: pointer;
}

#input-el{
    border: 1px solid green;
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#input-btn, #tab-btn{
    background: green;
    border:none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}

#delete-btn{
    color:green;
    background:rgb(255, 255, 228);
    border:none;
    border: 1px solid green;
    padding: 10px 20px;
    font-weight: bold;
}

ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 20px;
}

li{
    margin-top: 5px;
}

a{
    color: green;
}